h1{
   font-size:93pt;
   font-weight: bold;
   margin-left: 0px;
   margin-right: 700px;
}
body{
   /*Color grey for debug*/
   background-color:#202427; 
   /*background-color: #D3D3D3;*/
 font-family: 'Poppins', sans-serif;
   color:white;
}
.ingredients-box {
   color:grey;
}
#drink-selection {
   color:white;
}
.random-title{
   font-family: 'Permanent Marker', cursive;
   font-size: 15pt;
   margin-right: 92px;
   float:right;
   margin-top: 15px;
}
button.random{
   margin-top: 15px;
}
.button{
   border-radius: 50px;
   background-color: #58e5e1;
   border: none;
   padding: 15px 20px;
   margin-right: 30px;
   font-family: 'Poppins', sans-serif;
}

div.row {
   display:flex;
}

div.card {
   margin-right: 0px;
}

.row {
   margin-right:0px;
   margin-left: 700px;
   margin-top: 0px;
}

div.drink-chosen {
   padding: 15px 20px;
}

div.drink-chosen.random {
   margin-top: 15px;
}